@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}

h1 {
    font-weight: bold;
    font-family: 'Press Start 2P', monospace;
}

ul {
    list-style: none;
}