@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

:root {
    /* Paleta de cores padrão. */
    --cor0: #273D40;
    --cor1: #567073;
    --cor2: #70898C;
    --cor3: #AABFBF;

    /* Fontes padrões. */
    --fonte-destaque: 'Share Tech Mono', monospace;
    --fonte-conteudo: 'Work Sans', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: var(--fonte-destaque);
    max-width: 800px;
    margin: auto;
}

header a {
    text-align: center;
    text-decoration: none;

    margin: 10px;
    padding: 10px;

    border-radius: 10px;
    border-style: solid;
    border-color: var(--cor0);
    transition: 0.2s;
}

header a:hover {
    background-image: linear-gradient(to right, var(--cor0), var(--cor1), var(--cor2), var(--cor3));
    color: white;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-family: var(--fonte-conteudo);

    background-image: url(../midia/backgrounds/background05.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 20px;
    width: 800px;
    margin: auto;
    padding: 20px;
}

#foto {
    width: 140px;
    color: white;
    background-color: black;
    border-radius: 50%;
}

.perfil {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    text-align: left;

    background-color: rgba(255, 255, 255, 0.507);
    backdrop-filter: blur(5px);
    transition: 0.5s;

    max-width: 800px;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px
}

.perfil:hover {
    background-color: rgba(255, 255, 255, 0.747);
    backdrop-filter: blur(10px);
}

ul {
    list-style: none;
    text-decoration: none;
}

abbr {
    text-decoration: none;
}

.github {
    background-color: rgba(255, 255, 255, 0.507);
    backdrop-filter: blur(5px);
    transition: 0.5s;

    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

.github:hover {
    background-color: rgba(255, 255, 255, 0.747);
    backdrop-filter: blur(10px);
}

.github img {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Colocar isso em letras pequenas e grudado no final da página. */
footer {
    display: none;
}
