@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
/* Mudar essa fonte para uma de codigo */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');

:root {
    /* Paleta de cores padrão. */
    --cor0: #273D40;
    --cor1: #567073;
    --blur1: #56707357;
    --cor2: #70898C;
    --cor3: #AABFBF;
    --blur3: #aabfbf49;

    /* Fontes padrões. */
    --fonte-destaque: 'Share Tech Mono', monospace;
    --fonte-conteudo: 'Source Code Pro', monospace;
}

* {
    padding: 0px;
    margin: 0px;
    border: none;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--cor0);
}

header {
    font-family: var(--fonte-destaque);
    color: var(--cor3);
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.644);;
    margin: 50px;
}

main {
    display: flex;
    flex-direction: column;
    
    height: 340px;
    width: 600px;
    border-radius: 15px;

    font-family: var(--fonte-conteudo);
    background-color: var(--blur1);
    backdrop-filter: blur(8px);
}

#perfil {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    margin: 10px;
}

#pfp {
    width: 150px;
    height: 150px;
    border: 10px solid var(--blur3);
    border-radius: 50%;
    margin-right: 30px;
}

#sobre {
    align-self: center;
    padding: 10px 15px;
    font-size: small;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.767);
    background-color: var(--blur3);
}

#links {
    text-align: center;
    margin: 20px;
}

#links > a {
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    
    color: var(--cor3);
    background-color: var(--cor2);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.507);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.274);
}

#links > a:hover {
    color: white;
    background-color: var(--cor3);
    transition: 0.3s;
}


/* ---------------------------- 

header a {
    text-align: center;
    text-decoration: none;

    margin: 10px;
    padding: 10px;

    border-radius: 10px;
    border-style: solid;
    border-color: var(--cor0);
    transition: 0.2s;
}

header a:hover {
    background-image: linear-gradient(to right, var(--cor0), var(--cor1), var(--cor2), var(--cor3));
    color: white;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-family: var(--fonte-conteudo);

    background-image: url(../midia/backgrounds/background05.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 20px;
    width: 800px;
    margin: auto;
    padding: 20px;
}

#foto {
    width: 140px;
    color: white;
    background-color: black;
    border-radius: 50%;
}

.perfil {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    text-align: left;

    background-color: rgba(255, 255, 255, 0.507);
    backdrop-filter: blur(5px);
    transition: 0.5s;

    max-width: 800px;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px
}

.perfil:hover {
    background-color: rgba(255, 255, 255, 0.747);
    backdrop-filter: blur(10px);
}

ul {
    list-style: none;
    text-decoration: none;
}

abbr {
    text-decoration: none;
}

.github {
    background-color: rgba(255, 255, 255, 0.507);
    backdrop-filter: blur(5px);
    transition: 0.5s;

    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

.github:hover {
    background-color: rgba(255, 255, 255, 0.747);
    backdrop-filter: blur(10px);
}

.github img {
    display: flex;
    justify-content: center;
    align-items: center;
}
*/