@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}

h1 {
    font-weight: lighter;
    font-family: 'Press Start 2P', monospace;
    font-size: 2em;
}

ul {
    list-style: none;
}

.perfil {
    display: inline-block;
    text-align: left;
    height: fit-content;
    width: fit-content;
    border-radius: 30px;
}

.destaque:hover {
    background-color: lightcoral;
    text-transform: uppercase;
}