@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}

header {
    font-weight: lighter;
    font-family: 'Press Start 2P', monospace;
}

ul {
    list-style: none;
}

#foto {
    width: 140px;
    background-color: black;
    color: #FFF;
    border-radius: 50%;
}

.perfil {
    display: flex;
    text-align: left;
    align-items: center;
    background-color: lightgray;

    width: max-content;

    border-radius: 30px;
    margin: auto;
    padding: 20px;
}

.perfil:hover {
    background-image: linear-gradient(to right, rgba(250, 128, 114, 0.507), rgba(0, 0, 255, 0.479));
}
.github {
    margin: 20px;
}

footer {
    display: flex;
    justify-content: center;
    margin: 20px;
}

footer > div {
    margin: 10px;
}