@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h1 {
    font-weight: bold;
    font-size: 3em;
    font-family: 'Press Start 2P', monospace;
}