@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
    /* Paleta de cores padrão. */
    --cor0: #6D7426;
    --cor1: #89944B;
    --cor2: #C1C493;
    --cor3: #E5DFBA;

    /* Fontes padrões. */
    --fonte-destaque: 'Share Tech Mono', monospace;
    --fonte-conteudo: 'Fira Code', monospace;
    font-weight: normal;
}

/* * {
    margin: 0px;
    padding: 0px;
} */

body {
    /*
    background-image: radial-gradient(var(--cor3), var(--cor2), var(--cor1), var(--cor0));
    */
}

header {
    /* Mudar a fonte destaque para uma mais responsiva. */
    font-family: var(--fonte-destaque);
    font-size: 1em;
    margin: 0px;
}

body, main, header {
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

main {
    font-family: var(--fonte-conteudo);
    max-width: 1000px;

    background-color: #C1C493;
    
    margin: 20px;
    padding: 20px;
}

#foto {
    width: 140px;
    color: white;
    background-color: black;
    border-radius: 50%;
}

.perfil {
    display: flex;
    text-align: left;
    justify-content: center;
    flex-wrap: wrap;
    
    background-color: white;

    border-radius: 30px;
    padding: 20px;
    margin-bottom: 20px
}

.perfil:hover {
    background-image: linear-gradient(to right, var(--cor0), var(--cor1), var(--cor2), var(--cor3));
    color: white;
}

ul {
    list-style: none;
    text-decoration: none;
}

abbr {
    text-decoration: none;
}

.github {
    text-align: center;
}

footer {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

footer > div {
    margin: 0px 20px 0px 20px;
}